@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


*,
*::before,
*::after {
    margin: 0rem;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

/* this is a special class used to hide and show elements */
.hide {
    display: none !important;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

#profile-picture {
    width: 7rem;
    height: 7rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0.25rem;
}

#profile-picture img {
    width: 7rem;
    height: 7rem;
}

#name {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
}

#name img {
    margin-left: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(25%);
}

#handle {
    margin-top: -0.5rem;
    font-size: 1.1rem;
}

#description {
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 600;
    margin-top: -0.1rem;
}

#links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.link-container {
    display: flex;
    align-items: center;
    height: 3.6rem;
    width: 75%;
    background-color: aliceblue;
    margin-bottom: 1rem;
    border-radius: 25px;
}

.link-container a {
    text-decoration: none;
    width: 100%;
}

.link-content {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}

.link-name {
    width: 100%;
}

.link-name p {
    font-size: 1.4rem;
    text-align: center;
    margin-left: -2.8rem;
}

.link-icon {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon img {
    width: 2.4rem;
}

.copyright {
    margin: 1.5rem 0rem;
}

#copyright-info {
    font-size: 1.12rem;
}