* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/background.webp");
}

#root {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  animation: fade-in 1s ease;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 15px;
  animation: fade-in 1s ease;
}

.loading-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  #root {
    padding: 50px 20px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
