* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.content {
  width: 100%;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 15px;
}

@media only screen and (max-width: 500px) {
  #root {
    padding: 50px 20px;
  }
}
