.link-block {
  color: white;
  text-decoration: none;
}

.link-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 10px;

  max-width: 560px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 25px;
  backdrop-filter: blur(5px);

  .link-name {
    width: 100%;
    margin-left: -36px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .icon {
    width: fit-content;
  }
}
