.link-block {
  color: black;
  text-decoration: none;
  width: 100%;
  max-width: 560px;
}

.link-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .link-name {
    width: 100%;
    margin-left: -42px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .icon {
    width: fit-content;
  }
}
