* {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
